{% extends 'home.html' %}
{% block link2 %}active{% endblock link2 %}
{% load static %}
{% block content %}
<div class="breadcrumbs">
  <div class="page-header d-flex align-items-center" style="height: 375px; background-image: url('/static/img/portada_g.gif');">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Nosotros</h2>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li>Nosotros</li>
      </ol>
    </div>
  </nav>
</div>
<section id="about" class="about" style="padding: 40px 0;">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
       <!-- <img src="{% static 'img/about.jpg'%}" class="img-fluid" alt="">
        <a href="https://fb.watch/qT5SbAInNq/" class="glightbox play-btn"></a> --> 
        <br>
        <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FAutoProntoSAS%2Fvideos%2F363441376243079%2F&show_text=false&width=560&t=0" 
        width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
        allowFullScreen="true"></iframe>
      </div>
      <div class="col-lg-6 content order-last  order-lg-first">
        <h3>¿QUIENES SOMOS?</h3>
        <p>Financiamiento vehicular y servicios complementarios. más experimentado del país.
          Brindamos la oportunidad a miles de ecuatorianos de cumplir sus sueños en la obtención de bienes
          (vehículos nuevos o seminuevos) con valores desde $2.000 hasta $36.000. Adjudicamos un promedio de
          2 a 3 vehículos mensualmente. Con presencia a nivel nacional, en las principales ciudades del país.
          Manejamos tecnología de punta en nuestras plataformas tecnológicas garantizando la seguridad de su
          inversión.
        </p>
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-briefcase"></i>
            <div>
              <h5>MISION</h5>
              <p>Ser una alternativa de financiación accesible y segura para personas, empresas que quieran concretar sus proyectos. Difundir y defender en forma persistente el sistema de ahorro, previo en beneficio de la sociedad, promoviendo así la cultura del ahorro. Crear valor escuchando e incorporando adecuadamente 
                las sugerencias de nuestros clientes mediante la creatividad y el compromiso de nuestros colaboradores.</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="200">
            <i class="fa-sharp fa-solid fa-arrows-to-eye"></i>
            <div>
              <h5>VISION</h5>
              <p>Avanzar cada día hacia el fortalecimiento de nuestra empresa haciendo énfasis a la seriedad,
                la confiablidad y el cumplimiento de los compromisos pactados con nuestros clientes.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="featured-services" class="featured-services" style="padding: 45px 0;">
  <div class="section-header" style="padding: 15px  ;">
    <h2>NUESTROS VALORES</h2>
  </div>
  <div class="container">
    <div class="row gy-4">
      {% for service in services %}
      <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
        <div class="icon flex-shrink-0"><i class="fa-solid fa-{{ service.icon }}"></i></div>
        <div>
          <h4 class="title">{{ service.tit }}</h4>
          <p class="description">{{ service.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="features" class="features">
  <div class="container">
    <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
      <div class="col-md-5">
        <img src="{% static 'img/imagen_about.jpg'%}" class="img-fluid" alt="">
      </div>
      <div class="col-md-7">
        <h3>¿QUE NOS CARACTERIZA COMO EMPRESA?</h3>
        <p class="fst-italic"> A continuación, presentaremos algunos puntos importantes que caracterizan nuestra empresa.</p>
        <ul>
          <li><i class="bi bi-check"></i> 0% de interés</li>
          <li><i class="bi bi-check"></i> Sin garante</li>
          <li><i class="bi bi-check"></i> Cuotas bajas</li>
          <li><i class="bi bi-check"></i> Cuotas fijas durante el plazo escogido</li>
          <li><i class="bi bi-check"></i> Todas las marcas y modelos</li>
          <li><i class="bi bi-check"></i> El buró de crédito no es un obstáculo para adquirir el bien.</li>
          <li><i class="bi bi-check"></i> Certificado de compra</li>
          <li><i class="bi bi-check"></i> Plazos: 12, 24, 36, 48, 60, 72, 84 meses</li>
          <li><i class="bi bi-check"></i> Vehículos nuevos y seminuevos</li>
          <li><i class="bi bi-check"></i> Cuotas fijas durante todo el plazo elegido</li>
          
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock%}