{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>AUTOPRONTO S.A.S</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{% static 'img/logo_auto.jpg' %}" rel="icon">
    <link href="{% static 'img/logo_auto.jpg' %}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
    <!-- =======================================================
    * Template Name: Logis
    * Updated: Mar 10 2024 with Bootstrap v5.3.3
    * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                <img src="{% static 'img/logo_au.png'%}" alt="">
            </a>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="{% url 'home' %}" class="{% block link1 %}{% endblock  %}">INICIO</a></li>
                    <li><a href="{% url 'about' %}" class="{% block link2 %}{% endblock  %}">NOSOTROS</a></li>
                    <li><a href="{% url 'pricing' %}" class="{% block link4 %}{% endblock  %}">PLANES</a></li>
                    
                    <li><a href="{% url 'service_details' %}" class="{% block link5 %}{% endblock  %}">ENTREGAS</a></li>
                    <li><a href="{% url 'contact'%}" class="{% block link7 %}{% endblock  %}">CONTACTO</a></li>
                    
                    <li><a class="get-a-quote" href="https://bit.ly/autoprontosas">COTIZAR</a></li>
                </ul>
            </nav>
        </div>
    </header>
</head>
<main id="main">
    {% block content %}{% endblock content %}
</main>
<body>
    <div class="container-boton_">
        <a href="https://bit.ly/autoprontosas" target="_blank">
          <img class="boton_" src="{% static 'img/icono.png' %}" alt="">
        </a>
      </div>


    <footer id="footer" class="footer">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                        <img src="{% static 'img/logo_au.png'%}" alt="">
                    </a>
                    <ul style="padding: 1rem;">
                    <li> Planificación vehicular y servicios complementarios, más experimentado del país.</li>
                    <li> Brindamos la oportunidad a miles de ecuatorianos de cumplir sus sueños en la obtención de bienes (vehículos nuevos o seminuevos) con valores desde $2.000 hasta $36.000.</li>
                    <li>Adjudicamos un promedio de 2 a 3 vehículos mensualmente.</li>
                    <li> Presencia a nivel nacional, en las principales ciudades del país.</li>
                    <li> Manejamos tecnología de punta en nuestras plataformas tecnológicas garantizando la seguridad de su inversión.</li>
                    </ul>
                    <div class="social-links d-flex mt-4">
                        <a href="https://bit.ly/autoprontosas" class="twitter"><i class="bi bi-whatsapp"></i></a>
                        <a href="https://www.facebook.com/AutoProntoSAS/" class="facebook"><i
                                class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/autoprontosas?igsh=MXIwcDg5MjhwaW11eQ==" class="instagram"><i
                                class="bi bi-instagram"></i></a>
                        <a href="https://www.tiktok.com/@autopronto?_t=8ki6klbooFy&_r=1" class="tiktok"><i
                                class="bi bi-tiktok"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>ACCESOS RÁPIDOS</h4>
                    <ul>
                        <li><a href="{% url 'home' %}">INICIO</a></li>
                        <li><a href="{% url 'about' %}">NOSOTROS</a></li>
                        <li><a href="{% url 'service_details' %}">ENTREGAS</a></li>
                        <li><a href="{% url 'pricing' %}">PLANES</a></li>
                        
                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-contact text-center text-md-start">
                    <h4>CONTACTANOS</h4>
                    <p>
                        <strong>DIRECCION:</strong> AV. Mariana de Jesús Oe2-12 y Jorge Juan. <br>
                        QUITO/PICHINCHA <br>
                        <strong>TELEFONO:</strong> 098 310 3715 <br>
                        <strong>CORREO:</strong> autopronto.ec@gmail.com<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Logis</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>
    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js'%}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'vendor/aos/aos.js'%}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js'%}"></script>
    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>